* {
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
}

/* body {
    height: 100%;
} */

.hero-section {
    display: flex;
    min-height: 100%;
    width: 50%;
    align-items: center;
    justify-content: center;
    background-color: #1a1e23;
    
}

.card-container {
    display: flex;
    gap: 30px;
    width: 100\%;
    justify-content: center;
}

.card {
    position: relative;
    list-style: none nowrap;
    width: 220px;
    transition: .3s ease;

}

.card::before{
    content: "";
    display: block;
    padding: 150%;
    width: 100%;

}

.card-background{
    position: absolute;
    bottom: 0%;
    right: 0%;
    left: 0%;
    top: 0%;
    border-radius: 20px;
    background-size: 350px;
    background-position: center;
    filter: brightness(.9) contrast(1);
    transform: bottom;
    transform: scale(1) translate(0);
    transition: .3s ease;
}

